<div class="form_area">

    <h1>ログイン</h1>

    <%= form_for(:session, url: login_path) do |f| %>

        <%= f.label :email %>
        <%= f.email_field :email, class: 'form_item' %>

        <%= f.label :password %>
        <%= f.password_field :password, class: 'form_item' %>

        <%= f.label :remember_me do %>
            <%= f.check_box :remember_me %>
            <span>Remember me on this computer</span>
        <% end %>

        <%= f.submit "Log in", class: "btn_prime" %>
    <% end %>

    <%= link_to "ユーザー登録はこちら", signup_path %>