<div class="form_area">
    <h1>ユーザーの新規登録</h1>
    <%= form_with(model: @user) do |f| %>
        <%= render 'shared/error_messages' %>
        
        <div class="form_item">
            <p>表示名</p>
            <%= f.label :name %>
            <%= f.text_field :name %>
        </div>

        <div class="form_item">
            <p>メールアドレス</p>
            <%= f.label :email %>
            <%= f.email_field :email %>
        </div>

        <div class="form_item">
            <p>パスワード</p>
            <%= f.label :password %>
            <%= f.password_field :password %>
        </div>

        <%= f.submit "Create my account", class: "btn_prime" %>

    <% end %>
</div>
