 <div class="quietview">
    <div class="name-plate">
        <h1><%= @user.name %> さん</h1>
    </div>

    <div class="viewtest">
    
        <ul class="setting-list">
            <li><%= link_to '仕分けruの設定', user_path(current_user) %></li>
            <li><%= link_to '疑似ディレクトリ予定', "/users/#{params[:id]}/images" %></li>
            <li><%= link_to 'アカウント設定', edit_user_path(current_user) %></li>
        </ul>

        <div class="setting">
            <p>リスト</p>
            <% if @user.user_tags %>
                <% @user.user_tags.each do |tag|%>
                    <div class="tag"><%= tag.title_of_work %><%= tag.character_name %>
                    <%= link_to "削除", "/tagset/#{tag.id}/destroy", method: :delete,
                                  data: { confirm: "You sure?" } %></div>
                <% end %>
            <% end %>

            <%= form_with(url: "/tagset/#{@user.id}") do |form| %>
                <%= form.text_field :title_of_work %>
                <%= form.text_field :character_name %>

                <%= form.submit "新規作成", class: "btn" %>
            <% end %>
        </div>
    </div>
</div>