<% if @image_url.nil? %>
    <p>image無し</p>
<% else %>
    <%= image_tag @image_url, class: "serach-result_img"%>
<% end %>

<% if @image_url.nil? %>
    <p>tag無し</p>
<% else %>
    <p><%= @image_title %>,<%= @image_character %></p>
<% end %>

<%= form_with(scope: :image, url: test_path) do |form| %>
    <%= form.hidden_field :url, value: @image_url %>

    <%= form.text_field :title_of_work %>
    <%= form.text_field :character_name %>

    <%= form.submit "仕分けru", class: "btn" %>
<% end %>