    <% if @newImage %>
        <div class="firstview">
            <div class="sorting-img_frame">
                <%= image_tag @newImage.url, class: "sorting-img"%>
            </div>

            <%= form_with(scope: :image, url: newimagerecord_path) do |form| %>
                <div class="sorting_tag">
                    <%= form.hidden_field :url, value: @newImage.url %>

                    <%= form.label :"作品名", class: 'form-label' %>
                    <%= form.text_field :title_of_work, class: 'form-text' %>

                    <%= form.label :"キャラクター名", class: 'form-label' %> 
                    <%= form.text_field :character_name, class: 'form-text' %>

                    <%= form.submit "仕分けru", class: "btn_prime" %>

                </div>
            <% end %>
        </div>
    <% end %>




    <% if @alreadyImage %>
        <div class="firstview">

            <div class="sorting-img_frame">
                <%= image_tag @alreadyImage.url, class: "sorting-img"%>
            </div>

            <%= form_with(scope: :image, url: dlonlytest_path) do |form| %>
                <div class="sorting_already">
                    <div class="sorting_tag">
                        <%= form.hidden_field :id, value: @alreadyImage.id %>
                        
                        <div class="titles testtest">
                            <p>作品名</p>
                            <% @titles.each_with_index do |title, i| %>

                                <% if i == 0 %>
                                    <div class="title test">
                                        <%= form.radio_button :title_of_work, title.title_of_work,
                                                    {checked: true, id: "image_tgl_title#{i}"}%>
                                        <%= form.label(:tgl, title.title_of_work, value: "title#{i}") %>
                                        <div class="check"></div>
                                    </div>

                                <% else %>
                                    <div class="title test">
                                        <%= form.radio_button :title_of_work, title.title_of_work,
                                                    {id: "image_tgl_title#{i}"}%>
                                        <%= form.label(:tgl, title.title_of_work, value: "title#{i}") %>
                                        <div class="check"></div>
                                    </div>
                                <% end %>
                            <% end %>
                        </div>

                        <div class="characters testtest">
                            <p>キャラクター名</p>
                            <% @characters.each_with_index do |character, i| %>

                                <% if i == 0 %>
                                    <div class="character test">
                                        <%= form.radio_button    :character_name, character.character_name,
                                                    {checked: true, id: "image_tgl_character#{i}"}%>
                                        <%= form.label(:tgl, character.character_name, value: "character#{i}") %>
                                    </div>

                                <% else %>
                                    <div class="character test">
                                        <%= form.radio_button    :character_name, character.character_name,
                                                    {id: "image_tgl_character#{i}"}%>
                                        <%= form.label(:tgl, character.character_name, value: "character#{i}") %>
                                    </div>
                                <% end %>
                            <% end %>
                        </div>
                    </div>

                    <%= form.submit "仕分けte >", class: "btn_prime" %>

                </div>
            <% end %>
        </div>


        <% if @user %>
            <%= form_with(scope: :image, url: addrecord_path) do |form| %>
                <div class="sorting_tag">
                    <%= form.hidden_field :id, value: @alreadyImage.id %>

                    <div class="titles">
                        <p>作品名</p>
                        <% @user.user_tags.each_with_index do |title, i| %>

                            <% if i == 0 %>
                                <div class="title">
                                    <%= form.radio_button :title_of_work, title.title_of_work,
                                                {checked: true, id: "test"}%><label for="test"><%=  title.title_of_work %></label>
                                </div>

                            <% else %>
                                <div class="title">
                                    <%= form.radio_button :title_of_work,
                                                title.title_of_work %><label><%=  title.title_of_work %></label>
                                </div>
                            <% end %>
                        <% end %>

                    </div>

                    <div class="characters">
                        <p>キャラクター名</p>
                        <% @user.user_tags.each_with_index do |character, i| %>

                            <% if i == 0 %>
                                <div class="character">
                                    <%= form.radio_button    :character_name,
                                                                    character.character_name,
                                                                    {checked: true}%><label><%=  character.character_name %></label>
                                </div>

                            <% else %>
                                    <%= form.radio_button    :character_name,
                                            character.character_name %><label><%=  character.character_name %></label>
                            <% end %>
                        <% end %>
                    </div>

                    <%= form.submit "仕分けru", class: "btn_prime" %>

                </div>
            <% end %>
        <% end%>

    <% end %>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
