<header>
    <div class="headerbar">
        <%= link_to "仕分けte", root_path, class: "headerbar_logo" %>

        <nav>
            <ul class="headerbar_user">
                <% if logged_in? %>
                    <li><%= link_to current_user.name, '#' %></li>
                    <li><%= link_to "ログアウト", logout_path, method: :delete %></li>
                <% else %>
                    <li><%= link_to "ログイン", login_path %></li>
                    <li><%= link_to "新規登録", signup_path %><li>
                <% end %>
            </ul>
        </nav>
    </div>

    <div class="serchbar">
        <%= form_with url: dltest_path do |form| %>
            <%= form.text_field :image_url %>
            <%= form.submit "URL入力", class: "btn btn_serch" %>
        <% end %>
    </div>
</header>