<header class="header">
    <div class="header-bar">
        <%= link_to "仕分けte", root_path, class: "header-bar_logo" %>

        <nav>
            <ul class="header-bar_user">
                <% if logged_in? %>
                    <li><%= link_to current_user.name, current_user%></li>
                    <li><%= link_to "ログアウト", logout_path, method: :delete %></li>
                <% else %>
                    <li><%= link_to "ログイン", login_path %></li>
                    <li><%= link_to "ユーザー登録", signup_path %><li>
                <% end %>
            </ul>
        </nav>
    </div>
</header>