<!DOCTYPE html>
<html>
  <head>
    <title>ShiwaketeApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <div class="wrap">

      <div class="serch-bar">
        <%= form_with(scope: :image, url: serach_path) do |form| %>
            <%= form.text_field :url %>
            <%= form.submit "URL入力", class: "btn btn_serch" %>
        <% end %>
      </div>

      <main>
        <div class="main_wrap">
          <%= yield %>
        </div>
      <main>

    </div>
  </body>
</html>
